@font-face {
    font-family: myFirstFont;
    src: url(Lato-Regular.ttf);
}

@keyframes pulse {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: #FF4136;
  }
  100% {
    background-color: yellow;
  }
}

	body{
    font-family: myFirstFont;
	}
#map{
  width: 50%;
  height: 1200px;
  float:right;
}
#text{
  padding-top: 200px;
  padding-left: 20px;
  width: 50%;
  height: 800px;
  font-size: 80px;
}